<!DOCTYPE html>
<html ng-app="vizApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS + D3.js</title>

    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="libs/angularjs-slider/rzslider.css">

    <script src="libs/d3/d3.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angularjs-slider/rzslider.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">

    <div class="content">

      <h2 class="heading">Exploring UK House Prices.</h2>
      <h4 class="heading">{{currentCounty | titleCase}}</h4>

      <div class="flex-wrapper">

        <div class="chart-wrapper">
          <chart chart-data="chartData" chart-api="chartApi"></chart>
          <div class="chart-controls">
            <h5>Percentile Control</h5>
            <a class="show-percentile"
               ng-click="togglePercentiles()">
              <p ng-show="sliderOptions.disabled">Show Percentile</p>
              <p ng-show="!sliderOptions.disabled">Hide Percentile</p>
            </a>
            <div class="slider">
              <rzslider rz-slider-model="sliderValue"
                        rz-slider-options="sliderOptions">
              </rzslider>
              <p ng-show="!sliderOptions.disabled">{{sliderValue}}% of buyers paid the same or less than the value shown by the coloured line.</p>

            </div>
          </div>
        </div>

        <div class="county-wrapper">
          <input class="county-search"
                 type="text"
                 ng-model="countySearch"
                 placeholder="Search Counties">
          <ul class="county-list">
            <li ng-repeat="county in countyList | filter:countySearch" id="{{county}}"
                ng-mouseover="previewCounty(county)"
                ng-mouseleave="hidePreviewCounty()">
              <a class="county-item"  ng-click="loadCounty(county)"
                 ng-class="{active: county === currentCounty}">{{county}}</a>
              <a class="preview-button" ng-click="toggleLockedPreview(county)"
                 ng-class="{locked: county === lockedCounty}">
                {{ county === lockedCounty ? 'Preview Locked' : 'Lock Preview' }}</a>
            </li>
          </ul>
        </div>

      </div>

    </div>



  </body>
</html>