html *
{
   font-family: Arial !important;
}

html {
  background: #FEFEFE;
}

.content {
  padding-top: 40px;
  width: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-wrapper {
  width: 100%;
  display: flex;
}

/* --- CHART --- */
.chart-wrapper {
  width: 900px;
}

.chart {
  font-family: Arial;
  font-size: 13px;
}

.chart-controls {
  margin: 20px 20px 0 20px;
  padding-top: 5px;
  border-top: solid 1px #c4c4c4;
}

.slider {
  padding-left: 10px;
  float: left;
  width: 630px
}

rzslider .rz-pointer {
  background: #3498db;
}

rzslider .rz-pointer.rz-active:after {
  background-color: #eae1df !important;
}

.show-percentile {
  border: 1px solid #3498db;



  cursor: pointer;
  float:right;
  margin: 0 20px;
  border-radius: 4px;
  font-family: Arial;
  color: #525252;
  font-size: 16px;
  padding: 0 20px 0 20px;
  text-decoration: none;
}

.show-percentile:hover {
  background: #f4f4f4;
  text-decoration: none;
}

/* --- COUNTY CONTROL --- */
.county-wrapper {
  flex: 1;
  height: 550px;
}

.county-list {
  border: solid #c4c4c4;
  border-width: 1px;
  width: 300px;
  min-height: 0;
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  list-style-type: none;
  float: left;
}
.county-list > li {
  height: 40px;
}

.county-list > li:hover {
  background-color: #eaeaea;
}

.county-item {
  margin-left: 5px;
  max-width: 170px;
  display: block;
  float: left;
  height: 23px;
  color: #3498db;
  font-family: Arial;
  font-size: 13px;
  text-align: center;
  line-height: 36px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-button {
  text-transform: uppercase;
  font-size: 9px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 2px;
  float: right;
  margin: 12px 5px;
  cursor: pointer;
}

.preview-button:hover {
  background-color: #adadad;
  color: #ffffff;
}

.preview-button.locked{
  color: #db2d30;
}

.county-item.active {
  color: #db2d30;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  stroke: #000;
  stroke-width: 2px;
  fill: none;
  /*fill: steelblue;*/
}

.area {
  fill: #ffffff;
  stroke: #d5d5d5;
  stroke-width: 2px;
}

.preview {
  stroke: #a3a3a3;
  stroke-width: 2px;
  fill: none;
  /*fill: steelblue;*/
}

.county-search {
  margin-top: 10px;
  width: 293px;
  padding: 5px
}

.heading {
  line-height: 5px;
  padding-left: 10px;
}

.heading {
  font-family: Arial;
  padding-left: 20px;
}

h2.heading {
  padding-top: 10px;
}

h5 {
  margin:0 0 8px 10px;
}


/*http://mikethedj4.github.io/Webkit-Scrollbar-Generator/*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}
::-webkit-scrollbar-thumb:active {
  background: #7a7a7a;
}
::-webkit-scrollbar-track {
  background: #f4f4f4;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #f4f4f4;
}
::-webkit-scrollbar-track:active {
  background: #f4f4f4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}